# Database Configurations
PGUSER=your_db_user
PGHOST=localhost
PGPASSWORD=your_db_password
PGDATABASE=openmusic
PGPORT=5432

# nodemailer SMTP authentication
SMTP_HOST=your_smtp_host
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password

# Message broker
RABBITMQ_SERVER=amqp://localhost
